@import url(/src/assets/css/reset.css);
.postcard {
  position: relative;
}

.postimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.postcard .post_content .h1 {
  font-size: 100px;
}

.post_content .p {
  font-size: 20px;
}

.post_time {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
