@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.darkMode{
  background-color: #000;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.header .blog_name {
  height: 40px;
}

.header .nav {
  display: flex;
  color: #000;
}

.header .icon_link {
  margin-right: 8px;
}
.icon_link:last-child {
  margin-right: 0;
}

.header .nav_item {
  margin-right: 28px;
}

.header .nav_item:last-child {
  margin-right: 0px;
}

.header .nav .nav_link:hover {
  color: #194D91;
}

#banner {
  height: 476px;
  background-image: url('https://images.pexels.com/photos/1285625/pexels-photo-1285625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 160px;
  color: gray;
}

#banner .banner_container {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid #fff;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

#banner .banner_stittle {
  font-size: 18px;
}

#banner .banner_tittle {
  font-size: 70px;
  margin-bottom: 16px;
}

#paragraph {
  width: 80%;
  margin: 0 auto;
}



#paragraph .para_text {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

#paragraph .paragraph_tittle1 {
  margin-top: 80px;
  margin-bottom: 10px;
}

#paragraph .paragraph_tittle2 {
  margin-bottom: 52px;
}

.post_container {
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;
}

.col-4 {
  width: 33.33333%;
  padding: 0 8px;
  margin: 20px 0 20px 0;
}

.post-card {
  position: relative;
}
.post-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.post-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px 60px;
  font-size: 24px;
}


.col-10 {
  width: 83.3333333%;
  display: flex;
}

.col-2 {
  width: 16.666666666%;
}

.aside {
  /*border: 1px solid gray;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);*/
  width: 160px;
  height: 280px;
  text-align:left;
  padding: 20px;
  margin-left: 40px;
  font-size: 18px;
}

#gray {
  height: 80px;
  background-color: #C9C9C9;
  margin-bottom: 60px;
}

.container {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  height: auto;
  /*margin: 0 auto;*/
  border-radius: 4px;
  overflow: hidden;
}

.picture {
  width: 940px;
  height: 528px;
  background-image: url('https://images.pexels.com/photos/128303/pexels-photo-128303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.coment_container {
  height: 280px;
  width: 940px;
  margin: 0 auto;
}

.line1 {
  width: 858px;
  height: 34px;
  display: flex;
  margin-bottom: 20px;
}

.user {
  border: 1px solid gray;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.user .user_link i{
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: gray;
}


.user_imfor {
  padding-left: 10px;
}

.name {
  font-size: 12px;
}

.time {
  font-size: 12px;
}

.coment {
  width: 858px;
  height: 160px;
}

.coment h1{
  display: block;
  font-size: 24px;
}

.coment_text{
  font-size: 16px;
  padding: 10px 0;
}
.coment .coment_text:last-child {
  padding-top: 0px;
}

.text_icon {
  display: flex;
  justify-content: space-between;
}

.text_icon .text_link {
  font-size: 16px;
  color: gray;
  padding-left: 4px;
}

.text_icon .text_link:last-child {
  color: red;
  padding-right: 4px;
}

.text_icon .viel:last-child {
  margin-right: 0px;
}

#socialmedia {
  padding: 30px 0;
  width: 100%;
  background-color: #2573DA;
  margin-top: 20px;
}

#social_container {
  width: 80%;
  margin: 0 auto;
}

#social_container .nav_item {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

#myself {
  background-color: gray;
  height: 300px;
  align-items: center;
}

.foot_container {
  padding: 40px 0;
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.foot_container img {
  width: 140px;
  height: 140px;
}

.about_me {
  color: white;
}

.about_me h1{
  font-size: 24px;
  padding-bottom: 24px;
}

.about_me .para{
  font-size: 15px;
  padding-bottom: 15px;
}


#form .input_group{
  display: flex;
  flex-direction: column;
  text-align: left;
}

#form .input_group h1{
  font-size: 24px;
  color: white;
  padding-bottom: 24px;
}


#form .checkbox_container{
  padding: 10px 0;
  display: flex;
}

.input_group .input_title {
  font-size: 15px;
  color: white;
  margin-bottom: 8px;
}

#form .input_group:last-child {
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

input[type="email"]{
  border: 1px solid white;
  border-color: white;
  padding: 10px ;
  background-color: transparent;
}

input[type="email"]:focus {
  border: 1px solid #2573DA;
  outline: 0;
}

::placeholder {
  color: #c9cacf;
  font-size: 12px;
}

.input_check {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  position: relative;
  margin-right: 12px;
}

.input_check i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  color: white;
}

input[type="checkbox"] {
  transform: scale(0);
  position: absolute;
}

input[type="checkbox"]:checked + i{
  display: inline;
}

.btn {
  width: 284px;
  border: 1px solid #2573DA;
  background-color: #2573DA;
  padding: 16px;
}

.ql-container {
  height: 300px;
}